$font-stack: helvetica, arial, sans-serif
$primary: rgb(0, 71, 140)

body
  padding: 0
  margin: 0
  position: fixed
  height: 100%
  width: 100%
  font:
    family: $font-stack
    size: 16px

figure
  margin: 0
  height: 100%
  width: 100%

  > iframe, > img
    border: none
    display: block
    height: 100%
    width: 100%

  figcaption
    background-color: rgba($primary, 0.8)
    display: -webkit-flex
    display: flex
    -webkit-align-items: center
    align-items: center
    position: absolute
    left: 16px
    bottom: 16px
    opacity: 0.9

    img
      background-color: white
      height: 100%
      width: 160px
      padding: 8px 12px

    span
      color: white
      width: 184px
      text-align: center
